body {
    background-color: #aaaaaa;
}

.reloj {
    padding: 80px;
    background-image: url("fondoHoras.png");
    background-color: #ededed;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 10px solid #333333;
    display: flex;
    margin: auto;
}

.reloj img {
    position: relative;
    height: 300px;
    transition: all 0.5s
}

.reloj #horas {
    position: absolute;
}
.reloj #minutos {
    position: absolute;
}
.reloj #segundos {
    position: absolute;
}

@font-face {
    font-family: "DS-Digital";
    src: url("DS-DIGII.TTF") format('truetype');
}

.digital {
    font-family: "DS-Digital";
    padding: 20px;
    text-align: center;
    width: 350px;
    margin: auto;
    background-color: rgba(50, 50, 50, 0.8);
    color: #d1d9ff;
    border-radius: 15px;
    border: solid 3px #a1baff;
    box-shadow: 0px 0px 30px #ffffff;
}

.digital #horaDigital {
    font-size: 90px;
    text-shadow: 0px 0px 15px #799dff;
}



