.reloj {
    padding: 80px;
    background-image: url("fondoHoras.png");
    background-color: #ededed;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 10px solid #333333;
    display: flex;
    margin: auto;
}

.reloj img {
    position: relative;
    height: 300px;
    transition: all 0.5s
}

.reloj #horas {
    position: absolute;
}
.reloj #minutos {
    position: absolute;
}
.reloj #segundos {
    position: absolute;
}

.digital {
    text-align: center;
    width: 300px;
    margin: auto;
    background-color: rgba(50, 50, 50, 0.9);
    color: #a8d2ff;
    border: solid 1px #55a1f2;
    border-radius: 15px;

}

.digital #horaDigital {
    font-family: monospace, monaco;
    font-size: 50px;
    
    text-shadow: 0px 0px 10px #55a1f2;
}



